.pageContent{
    background-color: #ededed;
}

.body-content{
    margin: auto auto;
    min-height: calc(100vh - 200px);
}
/*---------------------------- Header ---------------------------*/
#navbarTop{
    height: 80px;
    padding-left: 75px;
    background-color: #98d146;
    font-size: 20px;
}

.headerContent{
    width: calc(100vw - 150px);
    margin: auto;
}

#QUTLogoHeader {
    padding-left: 20px;
}

.logInArea {
    position: absolute;
    height: 100%;
    right: 65px;
    margin: auto;
    vertical-align: middle;
}

#headerItem{
    padding: 0 10px 0 10px;
}

/*---------------------------- Footer ---------------------------*/
.footerArea{
    height: 120px;
    background-color: #98d146;
}

.footerContent {
    display: table;
    height: 60px;
    width: calc(100vw - 150px);
    margin: auto;
    padding-top: 10px;
    vertical-align: middle;
}

.footerRight{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.footerLeft {
    display: table-cell;
    vertical-align: middle;
}

.footerLeft a {
    color: rgba(0, 0, 0, 0.7) 
}

.copyright{
    text-align: center;
}

/*---------------------------- Homepage ---------------------------*/


.MainBanner {
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/FreshProduce.png') no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
    display: table;
}

.MainBannerMessageArea {
    display: table-cell;
    width: 900px;
    height: 300px;
    text-align: center;
    vertical-align: middle;    
    position: relative;
    font-size: 36px;
    color: white;
}

.homepageBottomContent{
    min-height: 700px;
    margin: 0;
    padding: 0;
}

.homepageBottomContentLeft {
    background-color: rgba(55, 132, 204, 0.80);
    text-align: center;
}

.homepageBottomContentRight{
    margin: 0;
    padding: 0;
}

#homepageSearchBox {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
}

.ResultsTable{
    font-size: 18px;
    text-align: left;
    background-color: none;  
}

.TableMarker {
    width: 60px;
    float:right;
}

/*---------------------------- Register Service ---------------------------*/
.RegisterServiceMainBanner {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/FoodBank.png') no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
    display: table;
}

.RegisterServiceBottomContent{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: none;
}

/*---------------------------- Pending Service ---------------------------*/

.PendingServiceMainBanner {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/OfficeDesk.png') no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
    display: table;
}

.PendingServiceBottomContent {
    height: 100%;
    width: calc(100% - 150px);
    margin: 0 auto;
    padding: 0;
    background: none;
}

/*---------------------------- Service  Details ---------------------------*/
.ServiceDetailsTopContent {
    min-height: 500px;
    margin: 0;
    padding: 0;
}

.ServiceDetailsBottomContentLeft {
    text-align: center;
    padding: 0;
}

.ServiceDetailsBottomContentRight {
    background-color: rgba(250, 250, 250, 0.80);  
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.ServiceDetailsContent{
    margin: 10px 40px 0 40px;
}

.ServiceDetailsTable {
    outline: none;
    width: 100%;
    font-size: 18px;
}

.ServiceDetailsStoriesSection {
    padding: 20px 40px;
    margin: 0 auto;
    width:80%;
    max-width: 1500px;
}

#ServiceStoriesTitle {
    width: 100%;
    background-color: #5f9dd6;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 22px;
    margin: auto auto;
    padding: 20px 0;
}

#PostStorySection{
    width:100%;
}

.StoryForm {
    width:100%;
    overflow: hidden;
    clear: both;
    margin-bottom: 1rem;
}

#StoryTextArea {
    resize: none;
}

#remainingC {
    padding-left: 35px;
}

.StorySubmit {
    float: right;
    display: block;
    position: relative;
    border-radius: 25px;
    background-color: rgb(95, 157, 214);
    border: none;
    color: #FFFFFF;
    width: 150px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 80px;
}

.StorySubmit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.StorySubmit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.StorySubmit:hover span {
    padding-right: 25px;
}

.StorySubmit:hover span:after {
    opacity: 1;
    right: 0;
}

#StoryPostDate{
    width:100%;
    font-size: 12px;
}

.StoryTable {
    font-size: 18px;
    text-align: left;
    background-color: none;
}
/*---------------------------- Custom Underline ---------------------------*/
.navbar-container ul li a {
    text-decoration: none;
    transition: color 0.5s;
    padding: 0 10px 0 10px;
}

.navbar-container ul li .underline {
    height: 3px;
    background-color: transparent;
    width: 0%;
    transition: width 0.2s, background-color 0.5s;
    margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
    width: 100%;
    background-color: white;
}

.navbar-container ul li:hover .underline {
    background-color: white;
    width: 100%;
}

.navbar-container ul li:active a {
    transition: none;
    color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline {
    transition: none;
    background-color: rgba(255,255,255,0.76);
}

/*---------------------------- Tool Tip Style ---------------------------*/
.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: left;
    color: white;
}

.tooltip .bottom {
    min-width: 100px;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #333333;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    border: 1px solid #444444;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip:hover .bottom {
    visibility: visible;
    opacity: 1;
}

.tooltip .bottom i {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.tooltip .bottom i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #333333;
    border: 1px solid #444444;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
}

/*---------------------------- Search Box ---------------------------*/

.search {
    width: 300px;
    margin: 20px auto;
    position: relative;
    height: 40px;
}

.searchTerm {
    float: left;
    height: 36px !important;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

    .searchTerm:focus {
        color: #00B4CC;
    }

.searchButton {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
